<h1 class="text-3xl">Sobre la aplicacion</h1>
<hr class="my-2" />
<section>
  <p class="mb-4">
    Sunt sunt dolor laborum cupidatat mollit nostrud ullamco sint reprehenderit
    anim. Laborum cupidatat cillum veniam Lorem magna laboris duis fugiat culpa.
    Eiusmod mollit amet occaecat et nisi enim et eiusmod laboris sunt cupidatat
    non non. Ut elit ullamco excepteur aliqua consectetur cupidatat consectetur
    qui sit excepteur exercitation ut. Ea commodo pariatur nisi laboris sit
    deserunt aliquip. Cupidatat elit irure do esse mollit ad officia excepteur
    esse sint ea dolor.
  </p>
</section>
